<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- NOME WORKOUT -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nome workout</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <!-- SELECT + SEARCH -->
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Seleziona esercizio</mat-label>

    <input
      matInput
      class="exercise-search-input"
      placeholder="Cerca esercizio..."
      [formControl]="exerciseSearchControl"
      (click)="select.open()"
    />

    <mat-select #select formControlName="exerciseSelect">

      <mat-option [value]="null">Nessuno</mat-option>

      @for (group of visibleGroupedExercises; track group.muscle) {
        <mat-optgroup [label]="group.muscle">

          @for (ex of group.exercises; track ex.id) {
            <mat-option 
              [value]="ex"
              [appDifficulty]="ex.difficulty"
            >
              {{ ex.name }} - {{ ex.caloriesBurned }} calorie bruciate
            </mat-option>
          }

        </mat-optgroup>
      }

    </mat-select>
  </mat-form-field>

  <!-- BOTTONE AGGIUNGI -->
  <button mat-raised-button color="primary" type="button"
          (click)="addExercise(form.get('exerciseSelect')?.value)"
          [disabled]="!form.get('exerciseSelect')?.value">
    Aggiungi esercizio
  </button>

  <!-- LISTA -->
  @if (selectedExercises.length > 0) {

    <mat-list>
      @for (ex of selectedExercises; track ex.id) {
        <mat-list-item>

          <div class="exercise-row">

            <span class="exercise-name">{{ ex.name }}</span>

            <mat-form-field class="small-field">
              <mat-label>Sets</mat-label>
              <input matInput type="number"
                     [value]="ex.sets"
                     (input)="ex.sets = +$event.target.value">
            </mat-form-field>

            <mat-form-field class="small-field">
              <mat-label>Reps</mat-label>
              <input matInput type="number"
                     [value]="ex.reps"
                     (input)="ex.reps = +$event.target.value">
            </mat-form-field>

            <mat-form-field class="rest-field">
              <mat-label>Riposo (in sec)</mat-label>
              <input matInput type="number"
                     [value]="ex.restTime"
                     (input)="ex.restTime = +$event.target.value">
            </mat-form-field>

            <button type="button"
                    mat-icon-button
                    color="warn"
                    (click)="removeExercise(ex)">
              <mat-icon fontIcon="delete"></mat-icon>
            </button>

          </div>

        </mat-list-item>
      }
    </mat-list>

  } @else {
    <p>Nessun esercizio selezionato</p>
  }

  <!-- SUBMIT -->
  <button mat-raised-button color="accent"
          type="submit"
          [disabled]="!canSave()">
    Crea workout
  </button>

</form>