<nav class="navbar">

  <div class="nav-left">
    <button mat-button [routerLink]="['/']">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-button [routerLink]="['/workouts']">
      <mat-icon>fitness_center</mat-icon>
      Workout
    </button>
    <button mat-button [routerLink]="['/meals']">
      <mat-icon>restaurant</mat-icon>
      Pasti
    </button>
    <button mat-button [routerLink]="['/personalTrainer']">
      <mat-icon>sports_gymnastics</mat-icon>
      Personal Trainer
    </button>
    <button mat-button [routerLink]="['/support']">
      <mat-icon>confirmation_number</mat-icon>
      Supporto
    </button>
  </div>

  <div class="nav-right">

    @if (isAuth()) {
      <button mat-button [matMenuTriggerFor]="profileMenu">
        Profilo
        <mat-icon>person_outline</mat-icon>
      </button>

      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item [routerLink]="['/profile']">
          Vai al profilo
        </button>

        @if (authService.isAdmin()) {
          <button mat-menu-item [routerLink]="['/users']">
            <mat-icon>manage_accounts</mat-icon>
            Gestione utenti
          </button>
        }

        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Esci
        </button>
      </mat-menu>

    } @else {
      <button mat-button (click)="openLogin()">Accedi</button>
      <button mat-button (click)="openSignup()">Registrati</button>
    }
    
    <button mat-button [routerLink]="['/info']">
      <mat-icon>info</mat-icon>
      Info
    </button>

  </div>

</nav>