<nav class="navbar">

  <div class="nav-left">
    <button mat-button [routerLink]="['/']">Home</button>
    <button mat-button [routerLink]="['/workouts']">Workout</button>
    <button mat-button [routerLink]="['/meals']">Piatti</button>
    <button mat-button [routerLink]="['/profile']">Il mio profilo</button>
    <button mat-button [routerLink]="['/personalTrainer']">Personal trainer</button>
  </div>

  <div class="nav-right">

    @if (isAuth()) {
      <button mat-button (click)="logout()">Logout</button>
    } @else {
      <button mat-button (click)="openLogin()">Login</button>
      <button mat-button (click)="openSignup()">Sign Up</button>
    }
  </div>

</nav>