@if (loading) {
  <p>Caricamento profilo... (loading = {{ loading }})</p>
} @else {

  <h1>Il mio profilo</h1>

  @if (!editMode) {

    <div class="profile-card">

      <div class="row">
        <span>Name</span>
        <div>{{ user.firstName }} {{ user.lastName }}</div>
      </div>

      <div class="row">
        <span>Email</span>
        <div>{{ user.email }}</div>
      </div>

      <div class="row">
        <span>Età</span>
        <div>{{ user.age }}</div>
      </div>

      <div class="row">
        <span>Altezza</span>
        <div>{{ user.height }} cm</div>
      </div>

      <div class="row">
        <span>Peso</span>
        <div>{{ user.weight }} kg</div>
      </div>

      <div class="row">
        <span>Ruolo</span>
        <div>{{ user.role }}</div>
      </div>

      <div class="row">
        <span>Abbonamento</span>
        <div>{{ user.subscription }}</div>
      </div>

      <div class="row">
        <span>BMI</span>
        <div>
          @if (getBmi() !== null) {
            {{ getBmi() }}
          } @else {
            N/A
          }
        </div>
      </div>

      
        <button mat-raised-button color="primary" (click)="toggleEdit()">
          Modifica
        </button>
      

    </div>

  } @else {

    <div class="profile-card">

      <div class="field">
        <label>Nome</label>
        <input [(ngModel)]="user.firstName">
      </div>

      <div class="field">
        <label>Cognome</label>
        <input [(ngModel)]="user.lastName">
      </div>

      <div class="field">
        <label>Età</label>
        <input [(ngModel)]="user.age" type="number">
      </div>

      <div class="field">
        <label>Altezza</label>
        <input [(ngModel)]="user.height" type="number">
      </div>

      <div class="field">
        <label>Peso</label>
        <input [(ngModel)]="user.weight" type="number">
      </div>

      

        <button mat-raised-button color="primary" (click)="save()">
          Salva
        </button>

        <button mat-raised-button (click)="toggleEdit()">
          Indietro
        </button>

      

    </div>

  }

}