<button mat-raised-button color="primary" (click)="openCreateWorkouts()">
  Nuovo Workout
</button>
@if (workouts$ | async; as workouts) {

  <div class="filters">

    <mat-form-field>
      <mat-label>Ordina per</mat-label>
      <mat-select (selectionChange)="setSortField($event.value)">
        <mat-option value="calories">Calorie</mat-option>
        <mat-option value="exercises">Esercizi</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Direzione</mat-label>
      <mat-select (selectionChange)="setSortDirection($event.value)">
        <mat-option value="asc">Crescente</mat-option>
        <mat-option value="desc">Decrescente</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="workouts-container">

    @for (workout of sortWorkouts(workouts); track workout.id) {

      <app-workout-card
        [workout]="workout"
        (edit)="onEditWorkout(workout)"
        (detail)="onDetailWorkout(workout)"
        (delete)="deleteWorkout(workout.id)">
      </app-workout-card>

    }

  </div>

}

<hr />
@if (workouts$ | async; as workouts) {

  @if (workouts.length > 0) {

    <div class="workouts-container">
      @for (workout of workouts; track workout.id) {

        <app-workout-card
          [workout]="workout"
          (edit)="onEditWorkout(workout)"
          (detail)="onDetailWorkout(workout)"
          (delete)="deleteWorkout(workout.id)">
        </app-workout-card>

      }
    </div>

  } @else {
    <p>Nessun workout presente</p>
  }

}