@if (workout$ | async; as workout) {

<mat-card class="workout-detail-card">

  <mat-card-header class="center-header">
    <mat-card-title>
      {{ workout.name | capitalize }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="stats">

      <div class="stat-card">
        <span class="value">{{ workout.totalCaloriesBurned | calories }}</span>
        <span class="label">Calorie bruciate</span>
      </div>

      <div class="stat-card">
        <span class="value">{{ workout.exercises.length }}</span>
        <span class="label">Esercizi</span>
      </div>

      <div class="stat-card">
        <span class="value">{{ workout.createdAt | createdAtFormat }}</span>
        <span class="label">Data creazione</span>
      </div>

    </div>

  </mat-card-content>

  <mat-divider></mat-divider>

  <div class="exercise-section">

    <h3 class="center-text">Esercizi</h3>

    <div class="exercise-list">

      @for (ex of workout.exercises; track ex.id) {

        <div class="exercise-card">

          <div class="exercise-name">
            <span [appDifficulty]="ex.difficulty">
              {{ ex.name | capitalize }} [{{ ex.muscleGroup }}]
            </span>
          </div>

          <div class="exercise-info">
            <span>Calorie: {{ ex.caloriesBurned | calories }}</span>
            <span>Serie: {{ ex.sets }}</span>
            <span>Reps: {{ ex.reps }}</span>
            <span>Recupero: {{ ex.restTime }}s</span>
          </div>

        </div>

      }

    </div>

  </div>

  <mat-card-actions>

    <button mat-button color="primary" (click)="onBack()">
      Indietro
    </button>

  </mat-card-actions>

</mat-card>

}