html, body {
  height: 100%;
  margin: 0;
}

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

app-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}