@if (workout$ | async; as workout) {
<mat-card class="workout-detail-card">

  <mat-card-header class="center-header">
    <mat-card-title>{{ workout.name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="stats">

      <div class="stat-card">
        <span class="value">{{ workout.totalCaloriesBurned }}</span>
        <span class="label">Calorie</span>
      </div>

      <div class="stat-card">
        <span class="value">{{ workout.exercises?.length }}</span>
        <span class="label">Esercizi</span>
      </div>

      <div class="stat-card">
        <span class="value">{{ workout.createdAt | date:'short' }}</span>
        <span class="label">Creato</span>
      </div>

    </div>
  </mat-card-content>

  <mat-divider></mat-divider>

  <div class="exercise-section">
    <h3 class="center-text">Esercizi</h3>

    @if (workout.exercises.length > 0) {

      <div class="exercise-list">

        @for (ex of workout.exercises; track ex.id) {
          <div class="exercise-card">

            <div class="exercise-name">
              {{ ex.name }}
            </div>

            <div class="exercise-info">
              <span>Serie: {{ ex.sets }}</span>
              <span>Reps: {{ ex.reps }}</span>
              <span>Recupero: {{ ex.restTime }}s</span>
            </div>

          </div>
        }

      </div>

    } @else {
      <p class="empty center-text">Nessun esercizio presente</p>
    }
  </div>

  <mat-card-actions>
    <button mat-button color="primary" (click)="onEditWorkout(workout)">
      Modifica
    </button>

    <button mat-button color="warn" (click)="deleteWorkout(workout.id)">
      Elimina
    </button>
    <button mat-button color="primary" (click)="onBack()">
      Indietro 
    </button>
  </mat-card-actions>

</mat-card>
}