<div class="workout-container">

  <mat-card class="workout-card">
    <mat-card-header>
      <mat-card-title>
        {{ workout.name | capitalize}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>Calorie bruciate: {{ workout.totalCaloriesBurned | calories}}</p>
      <p>Numero esercizi: {{ workout.exercises.length }}</p>
      <p>Creato il: {{ workout.createdAt | createdAtFormat }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary" (click)="onDetail()">
        Dettaglio
      </button>

      <button mat-button color="primary" (click)="onEdit()">
        Modifica
      </button>

      <button mat-button color="warn" (click)="onDelete()">
        Elimina
      </button>
    </mat-card-actions>
  </mat-card>

</div>