<div class="workout-container">

  <mat-card class="workout-card">
    @if (showImage && workout.image) {
      <img mat-card-image [src]="workout.image" alt="Workout image">
    }

    <mat-card-header>
      <mat-card-title>
        <strong>{{ workout.name | capitalize}}</strong>
      </mat-card-title>
    </mat-card-header>

    <hr>
    
    <mat-card-content>
      <div class="workout-info">
        <div class="info-row">
          <strong>Calorie bruciate:</strong>
          <span>{{ workout.totalCaloriesBurned | calories }}</span>
        </div>

        <div class="info-row">
          <strong>Numero esercizi:</strong>
          <span>{{ workout.exercises.length }}</span>
        </div>

        <div class="info-row">
          <strong>Creato il:</strong>
          <span>{{ workout.createdAt | createdAtFormat }}</span>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>

      @if (showDetail) {
        <button mat-button color="primary" (click)="onDetail()">
          Dettaglio
        </button>
      }

      @if (showEdit) {
        <button mat-button color="primary" (click)="onEdit()">
          Modifica
        </button>
      }

      @if (showDelete) {
        <button mat-button color="primary" (click)="onDelete()">
          Elimina
        </button>
      }
      
    </mat-card-actions>
  </mat-card>

</div>