<div class="workout-container">

  <mat-card class="workout-card">
    <mat-card-header>
      <mat-card-title>
        {{ workout.name | capitalize}}
      </mat-card-title>
    </mat-card-header>

    @if (showImage && workout.image) {
      <img mat-card-image [src]="workout.image" alt="Workout image">
    }

    <mat-card-content>
      <p>Calorie bruciate: {{ workout.totalCaloriesBurned | calories}}</p>
      <p>Numero esercizi: {{ workout.exercises.length }}</p>
      <p>Creato il: {{ workout.createdAt | createdAtFormat }}</p>
    </mat-card-content>

    <mat-card-actions>

      @if (showDetail) {
        <button mat-button color="primary" (click)="onDetail()">
          Dettaglio
        </button>
      }

      @if (showEdit) {
        <button mat-button color="primary" (click)="onEdit()">
          Modifica
        </button>
      }

      @if (showEdit) {
        <button mat-button color="primary" (click)="onEdit()">
          Modifica
        </button>
      }
      
    </mat-card-actions>
  </mat-card>

</div>